apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: backend
  name: flask
  namespace: myapi

spec:
  replicas: 1
  selector:
    matchLabels:
      service: flask
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      namespace: myapi
      labels:
        service: flask
    spec:
      containers:
      - command:
        - /bin/sh
        - ./entrypoint/start.sh
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              key: user
              name: postgres-credentials
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              key: password
              name: postgres-credentials
        - name: IP
          value: postgres
        - name: SECRET_CODE
          value: {{CODE}}
        - name: DB
          value: postgres
        - name: ENV
          value: production
        - name: AWS_KEY
          value: {{AWS_KEY}}
        - name: AWS_SECRET
          value: {{AWS_SECRET}}
        - name: SPACE_NAME
          value: {{SPACE_NAME}}
        - name: SPACE_ENDPOINT
          value: {{SPACE_ENDPOINT}}
        - name: SPACE_REGION
          value: {{SPACE_REGION}}
        image: docker.pkg.github.com/claudezss/myapi/backend:{{TAG}}
        imagePullPolicy: Always
        name: flask
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: dockerconfigjson-github-com
      restartPolicy: Always
